/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


/* Shine Effect */
.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 192, 203, 0) 30%,   /* transparent pink */
    rgba(255, 192, 203, 0.4) 50%, /* light pink shine */
    rgba(255, 192, 203, 0) 70%    /* transparent pink */
  );
  animation: shine 2s infinite;
}


@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* for scrolling effect  */
.scrolling-text-button {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scrolling-text-button::after {
  content: attr(data-text); /* Sets text content */
  position: absolute;
  left: -100%;
  animation: slideIn 3s ease forwards;
  white-space: nowrap;
}

@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
